.form {
  background: #fff;
  box-shadow: 0 50px 50px -25px hsla(227, 35%, 45%, 0.25);
  padding: 40px 42px 50px 42px;
  margin-right: -255px;
  border-radius: 13px;
  z-index: 2;
}

.form-input:not(:last-child) {
  margin-bottom: 24px;
}

.form .btn {
  margin-top: 40px;
  width: 360px;
}

@media (max-width: 1000px) {
}

@media (max-width: 650px) {
}
